body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    width: 50%;
    height: 60%;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
  }

#taskInput {
    padding: 10px;
}

#addTaskBtn {
    padding: 10px;
}
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  .delete-btn {
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
   /*Add styles for completed tasls*/
  .completed {
    text-decoration: line-through;
    color: black;
  }
  